* {
    padding: 0;
    margin: 0;

}

.screen {
    border: 3px solid black;
    width: 95%;
    height: 133px;
    background-color: rgb(250, 249, 248);
    padding: 16px 29px;


}

.header_top {

    width: 100%;
    height: 68px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34)
}

.h_t_left {

    width: 30%;
    height: 48px;
    display: flex;

    border: 1px solid;

}

.h_t_middle {
   
    width: 36%;
    height: 67px;


}

.h_t_left>li {
    width: 25%;
    list-style-type: none;
    font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5%;
    white-space: nowrap;
/* 
    border: 1px solid red; */
    
}

.h_t_left>li>img {
    height: 20px;
    width: 25px;
    border: 1px solid;
    margin-right: 32%;


   



}

.h_t_middle>img {
    height: 40px;
    width: 60px;
    height: 40px;
    padding-top: 24px;
}

.h_t_right {
 
    width: 33%;
    height: 27px;
     display: flex;
    justify-content: space-between;
    margin-top: 10px;
   

}
.main_h_t_right_l{
  
    margin-left: 28%;
    display: flex;
    height: 24px;

}

.main_h_t_right_l>img{
    width: 20px;
    height: 20px;
   
    margin-right: 8px;
   
}
.main_h_t_right_m>img,.main_h_t_right_r>img{
    width: 22px;
    height: 22px;
   
    margin-right: 8px;

}
.main_h_t_right_l>p,.main_h_t_right_m>p{

    font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5%;
    line-height: 16px;
    
    

}
.main_h_t_right_r>p{ font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-top: 3.5%;
    line-height: 16px;

}
.main_h_t_right_m,.main_h_t_right_r{

   
    display: flex;
    height: 24px;

}
.header_bottom{
    width: 75%;
    height: 33px;
    
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
  
}
.h_b_left{
    width: 70%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
}
.h_b_left>li{

    list-style-type: none;
    font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 1%;
    white-space: nowrap;
}
.h_b_right{
    width: 25%;
    height: 100%;
   
}
.search{
    border-bottom:1px solid black ;
    height: 16px;
   
    width: 80%;
    
    
    
}
.search>p{
    font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  
}



